@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

h1 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.14em;
}

h2 {
    font-size: 32px;
    /* line-height: 37px; */
}

h3 {
    font-size: 28px;
    /* line-height: 32px; */
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
    /* line-height: 23px; */
}

h6 {
    font-size: 18px;
    /* line-height: 21px; */
}

p {
    font-size: 16px;
    line-height: 40px;
    color: #635555;

}

s {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

body,
main {
    background: #FFF6E8;
    width: 100%;
}

/* header start */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 130px;
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    /* position: relative; */
}

header img {
    margin-top: 8px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar li {
    list-style: none;
    padding: 20px 25px 0;
}

#navbar li a {
    text-decoration: none;
    font-weight: 500;
    color: #D88065;
    letter-spacing: 0.1em;
    transition: 0.2s;

}

#navbar li a:hover {
    color:#635555;
}

#navbar ul {
    position: absolute;
    display: none;
    border-radius: 20px;


}

#navbar li:hover ul {
    display: block;
    background-color: #FFF;
    margin-top: 25px;
    padding: 10px;
}


/*輪播*/
.myCycle {
    width: 100%;
    height: 690px;
    position: relative;
    margin-bottom: 5%;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.swiper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.swiper a {
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 0 17px 20px 0;

}

/* 對應按鈕 */
.swiper a.activeSlide {
    background-color: #ED9579;
    width: 55px;
    height: 15px;
    border-radius: 25px;
    transition: all .6s ease;
}

/* news */
#news {
    display: flex;
    justify-content: center;
    padding: 2% 0 8% 0;
}

#news h1 {
    width: 30%;
    padding-right: 2%;
    color: #ED9579;
    font-family: 'Rufina';
    font-weight: 400;
    text-align: right;
    padding-top: 4%;
    padding-right: 5%;


}

.list {
    margin-top: 6%;
}

.left-right h4 {
    font-size: 18px;
    color: #635555;
    margin-right: 5%;
}

.left-right img {
    width: 26px;
    height: 26px;

}

.date {
    line-height: 30px;
}

.title {
    width: 360px;

}

.left-right {
    width: 100%;
    border-bottom: 1px #ED9579 solid;

}

.left-right a {
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: block;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 32px 15px 55px 15px;
    position: relative;


}

.left-right a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #FFF6E8;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: .6s;
    border: none;
}

.left-right a:hover::after {
    width: 100%;
    left: 0;
}

.left-right a:hover img {
    width: 26px;
    height: 26px;
    content: url("../imgs/arrowafter.png");
}

#news .list .button {
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    border: 0;
    color: #ED9579;
    font-family: 'Rufina';
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    float: right;
    margin-top: 40px;
    margin-right: -55px;
    transition: 0.2s;
}

#news .list .button:hover {
    color: #635555;

}

#sidetext {
    font-family: 'Rufina';
    font-weight: 400;
    font-size: 20px;
    color: #D88065;
    letter-spacing: 0.2em;
    writing-mode: vertical-lr;
    writing-mode: vertical-rl;
    padding-right: 3%;
    padding-top: 2%;
    width: 30%;
    display: flex;


}



/* 人氣商品*/
.myCarousel {
    margin: 0;
    padding: 0;
    position: relative;
}

.myCarousel h4 {
    color: #635555;
    text-align: center;
    margin-top: 10%;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.33em;
}

#carousel {
    position: relative;
    height: 750px;
    top: 50%;
    transform: translateY(20%);
    overflow: hidden;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 400px;
    transition: width 1s;
    border-radius: 200px;
    background-color: #FFF0E2;
    border-radius: 50%; 
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
    
}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 26%;
    transform: translateY(50px) translateX(-50%);

    
}

#carousel div.prev img {
    width: 300px;
}

#carousel div.prevLeftSecond,
.cycle-bg {
    z-index: 4;
    left: 9%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.prevLeftSecond img {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);


}


#carousel div.next {
    z-index: 5;
    left: 74%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 91%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.nextRightSecond img {
    width: 200px;
}

.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 48%;

}

#prev,
#next {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: .7s ease-in-out;
    background-color: #ED9579;
    border: #ED9579 3px solid;
    transition: all,.3s;
    
    
}
#prev:hover,
#next:hover{
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.15);
    

} 

#prev {
    transform: translateX(-390%);
}

#next {
    transform: translateX(390%);
}



/* carefood */
article {
    height: 100%;
    width: 100%;
    background-image: url('../imgs/carabg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 10%;

}

article section {
    width: 100%;
    margin-bottom: 5%;
}


/*安心履歷*/
.care {
    display: flex;
    padding-top: 6%;
}

.care img {
    position: absolute;
    z-index: 99;
    width: 30%;
}

.care-content {
    width: 85%;
    height: 650px;
    background-color: #FFF0E2;
    border-radius: 250px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    /* left: 300px; */
    margin: 0 5%;

}

.care-txt {
    margin: 8% 0 0 8%;
    display: flex;
    flex-direction: column;
    line-height: 75px;

}

.care-txt h3,
.crs-txt h3 {
    font-size: 24px;
    color: #ED9579;
    font-weight: 900;
}

.care-txt h4 {
    color: #635555;
    font-weight: 2500;
    text-indent: 30px;
}

.care-txt h6,
.crs-txt h6 {
    color: #635555;
    font-weight: 600;

}

.care-txt h6 {
    text-indent: 60px;
}

#txt-s {
    text-indent: 80px;
}

.care-txt a,
.crs-txt a {
    display: block;
    background-color: #ED9579;
    color: #FFF;
    width: 130px;
    height: 40px;
    font-size: 14px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-left: 430px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.care-txt a:hover,
.crs-txt a:hover {
    background-color: #635555;
}



/*永續發展*/
.crs {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 200px;

}

.crs-content {
    width: 80%;
    height: 650px;
    background-color: #FFF0E2;
    border-radius: 250px 0 0 250px;
    display: flex;
    justify-content: flex-start;
    position: relative;


}

.crs-txt {
    margin: 8% 0 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 65px;
}

.crs img {
    position: absolute;
    top:-10%;
    right: 0;
    z-index: 99;
    width: 40%;
}

/* footer */
footer {
    width: 100%;
    background-color: #FFF0E2;
    padding-top: 1%;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.container .footer-item p {
    font-size: 18px;
    font-weight: 900;
}

.container .icon {
    height: 25px;
    display: flex;
    vertical-align: middle;
    margin-left: 85px;

}

.container .icon a {
    display: block;
    text-decoration: none;
    margin: 0 5px;

}

.footer-item {
    margin: 0 7%;
}


.footer-nav {
    display: flex;
    flex-direction: column;
    text-indent: 20px;
    line-height: 35px;
}

.footer-nav a {
    text-decoration: none;
    color: #635555;
}
.footer-nav a:hover{
    color: #ED9579;
}
.copy {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    margin: 50px auto auto 0;
}

.copy s {
    margin: 10px 15px 0px;
}

/* 第二輪播圖 */
.myslider {
    -webkit-box-align: center;
    align-items: center;
    background: #FFF6E8;
    display: -webkit-box;
    display: flex;
    height: 400px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    height: 274px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {

    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width:100%;
}

/* .slider .slide {
    height: 274px;
    width: 526px;
} */